[alias]
  amend = commit --amend -v -uno
  ci = commit -v -uno
  co = checkout
  ready = rebase -i @{u}
  st = status -s -b -uno
[color]
  ui = 1
[commit]
  gpgSign = true
[core]
  excludesfile = ~/.gitignore_global
[push]
  default = simple
[tag]
  forceSignAnnotated = true
[include]
  path = ~/.gitconfig.local
